<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Appenders>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p [%c] %m%n" />
        </Console>

        <Console name="console-infolog" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p %m%n" />
        </Console>

    </Appenders>

    <Loggers>
        <!-- Log4jdbcProxyDataSource -->

        <Logger name="jdbc.sqlonly" level="DEBUG" additivity="false">
            <AppenderRef ref="console-infolog" />
        </Logger>

        <Logger name="jdbc.resultsettable" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

        <Logger name="jdbc.resultset" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

        <Logger name="jdbc.audit" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

        <Logger name="jdbc.sqltiming" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="jdbc.connection" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <!--  -->

        <Logger name="egovframework" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

        <Root level="DEBUG">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>

</Configuration>